#logo {
	width: 250px;
	height: auto;
	padding-left: 1em;
	padding-top: .25em;
}

body {
	background-color: #FFFFFF;
}

.left {
    position:fixed;
    left: 0.66em;
    width: 25%;
}

#row {
	color: #000000;
}

#title_lable {
	color: #000000;
	font-style: bold;
}

#authorize-div {
	display: flex;
	justify-content: center;
	margin-top: 50vh;
}

#root {
	display: none;
}

.flex {
	display: flex;
	justify-content: center;
	justify-content: space-around;
}


.input-field {
	color: black;
}

/* Delete button */
div#statTable tbody tr td:last-child {
	padding-left: 0.33em;
}
div#statTable tbody tr td:last-child button:first-child {
	margin-bottom: 0.13em;
	background-color: #F9BA09;
}

div#statTable tbody tr td:last-child button:last-child {
	margin-top: 0.13em;
	background-color: #DD1A29;
}

/* Table Headers. Indicate that header is clickable, except the last (invisible) cell*/
div#statTable table thead tr th:not(:last-child) {
	cursor:pointer;
	text-decoration: none;
}

div#statTable table thead tr th {
	background-color: #202830;
	color:white;
}

div#statTable table thead tr th.sortBy {
	background-color: #2F9ACD;
	color:black;
}

div#statTable {
	width: 90%;
	margin:auto;
	margin-top: 3.35em;
	margin-bottom: 6.7em;
}
/* The below is for hiding the table cells in which the edit/delete buttons are rendered.
** The excessive specificity of the selectors ensures we override Materialize's styles.
*/

/* Remove the borders surrounding the table, the thead, and individual non-header cells */
div#statTable table,
div#statTable thead {
	border: none;
}

/* Reinstate all borders on header cells */
div#statTable table thead tr th {
	border: 1px solid white;
}

div#statTable table tbody tr td {
	border: 1px solid #cbcbcb;
}


/* Hide the rightmost header cell entirely */
div#statTable table thead tr th:last-child {
	display: none;
}

div#statTable table tbody tr td:last-child {
	border:none;
	background-color: transparent;
}


/* Reduce spacing in and around modal content to make it more compact */
.modal.bottom-sheet div.modal-content {
	padding-bottom: 0px;
	padding-top: 0px;
}

.modal.bottom-sheet div.row,
.modal.bottom-sheet div.row input,
.modal.bottom-sheet div.input-field {
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

/* Modal headers */
div.modal-header {
	background-color: #202830;
	padding: 0px;
	margin: 0px;
}

div.modal-header h5 {
	color: #FFFFFF;
	padding: 0.66em;
	margin: 0px;
}

/*Placeholder text*/
::-webkit-input-placeholder {
    color: black;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

/* Override the overflow style applied by the bottom-sheet modals, which prevent scrolling */
body {
	overflow: auto !important;
	width: initial !important;
}

/* Batch-adding preview modal */
div#statBatchPreviewModal div.modal-content table tbody tr {
	height: 15vh;
}

/* Hide the last 'stat' in the batch, which is blank by design and will not be submitted */
div#statBatchPreviewModal div.modal-content table tbody tr:last-child {
	display: none !important;
}

/* Hide the action button cell and the rowNum cell in the preview */
div#statBatchPreviewModal div.modal-content table tbody tr td:nth-last-child(-n + 2) {
	display: none !important;
}

/* Table of stats to be added */
div#statBatchPreviewModal div.modal-content {
	padding: 1em;
	overflow: auto;
}

label {
	color:black;
}

.row:after {
	clear:none;
	display: none;
}

div.navbar-fixed nav {
	background-color: #FFFFFF;
}

a#saveStatButton {
	background-color: #B3C44B;
}